* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* || VARIABLES */
:root {
    /* FONT */
    --HEADER-FF: Arial, Helvetica, sans-serif;
    --HEADER-FS: clamp(1rem, 5rem, 8rem);
    --MAIN-FF: 'Source Code Pro', monospace;
    --MAIN-FS: clamp(0.5rem, 1rem, 2.5rem);

    /* COLOR */
    --BG-COLOUR: white;
    --TEXT-COLOUR: #000;
    --HOVER-COLOUR:rgba(59, 59, 59, 0.51);
    --HL1:rgb(0, 174, 255);
    --HL2:rgb(255, 187, 0);
    --HL3:rgb(0, 184, 9);
    --HL4:rgb(206, 8, 91);

    --DM-BG-COLOR: #171a20;
    --DM-TEXT-COLOUR: rgb(255, 255, 255);
    --DM-HOVER-COLOUR: rgba(252, 252, 252, 0.671);
    --DM-HL1:rgb(137, 206, 238);
    --DM-HL2:rgb(231, 220, 168);
    --DM-HL3:rgb(179, 240, 189);
    --DM-HL4:rgb(230, 144, 180);

    /* GENERAL */
    --PADDING: 2rem;
}

@media (prefers-color-scheme: hello) {
    :root {
        --BG-COLOR:var(--DM-BG-COLOR);
        --TEXT-COLOUR:var(--DM-TEXT-COLOUR);
        --HOVER-COLOUR:var(--DM-HOVER-COLOUR);
        --HL1:var(--DM-HL1);
        --HL2:var(--DM-HL2);
        --HL3:var(--DM-HL3);
        --HL4:var(--DM-HL4);
    }
}

/* || GENERAL STYLES */
header {
    padding-bottom: 0%;
}

body {
    font: var(--MAIN-FF);
    color: var(--TEXT-COLOUR);
    background-color: var(--BG-COLOR);
    background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
    display: flex;
    flex-direction: column;
}

.about_me {
    line-height: 2rem;
    font-size: var(--MAIN-FS);
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {font-family: var(--MAIN-FF)}
h2.about-me {
    color: var(--HL1);
    padding-bottom: 1rem;
    padding-top: 1rem;
}
h2.material-list {
    color: var(--HL2);
}
h2.art-showcase {
    color: var(--HL3);
}
h2.contact-me {
    color: var(--HL4);
}

h1 {
    width: 50%;
    font-size: var(--HEADER-FS);
    margin: 0.5em 0.5em 0.5em 0.1em;
    font-family: var(--HEADER-FF);
    color: white;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    letter-spacing: 1px;
}

main {
    text-align: justify;
    margin: 1% 20% 1% 20%;
}

a {
    font-family: 'Source Code Pro', monospace;
    }

.banner {
    position: relative;
}

.banner-img {
    width: clamp(390px,100%,2000px);
    height: clamp(844px,100%,2000x);
    margin: auto;
}

.banner-text {
    position: absolute;
    left: 20px;
    bottom: 5px;
}

.navigation a:hover {
    background-color: var(--HOVER-COLOUR);
    transition: 0.2s;
}

.navigation a {
    text-decoration: none;
    font-size: larger;
    color: var(--TEXT-COLOUR);
    font-weight: bold;
}

.navigation {
    margin:auto;
    margin-bottom: 30px;
    text-align: center;
    max-width: 1000px;
    justify-content: space-evenly;
}

.navigation ul {
    list-style-type: none;
    
}

.navigation ul li {
    margin: auto;
    display: inline;
    padding: 10px;
}

p {
    font-family: 'Source Code Pro', monospace;
    line-height: 1.5;
    }

.right {
    float: right;
    margin-left: 10rem;
    margin-right: 0rem;
}

.material-showcase {
    max-width: 1200px;
    min-height: 400px;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.box_digital_materials {
    position: relative;
    min-width: 550px;
    min-height: 400px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.box_traditional_materials {
    position: relative;
    min-width: 300px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: .5s ease;
    background-color: rgba(59, 59, 59, 0.51);
  }

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: left;
}

.box_digital_materials:hover .overlay {
    opacity: 1;
}

.box_traditional_materials:hover .overlay {
    opacity: 1;
}


.artwork-showcase {
    grid-area: mn;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1rem;
}

.box_artwork {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    display: grid;
    place-content: center;
}

.box_artwork:first-child {
    background-color: #00f;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: grid;
    place-content: center;
  }
  


li {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0.2px;
}

ul {
    padding-left: var(--PADDING);
}

.int_img {
    display: inline;
}

.int_img:hover {
    background-color: var(--HOVER-COLOUR);
    transition: 0.2s;
}